@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: komika;
  src: url("/assets/fonts/KomikaHandFont/TypoPRO-KomikaHand-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: komika;
  src: url("/assets/fonts/KomikaHandFont/TypoPRO-KomikaHand-Regular.woff");
  font-weight: 400;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: 2;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.marquee {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: marquee 230s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused;
}

.marquee-item {
  margin-right: 10px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}